<!DOCTYPE html>
<html>
  <head>
    <title>Mini Whatsapp</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h3>Add a new chat here</h3>
    <form method="POST" action="/chats">
      <input type="text" name="from" placeholder="sender's name"> <br/><br/>
      <textarea type="text" name="msg" placeholder="write your message here..."></textarea> <br/><br/>
      <input type="text" name="to" placeholder="receiver's name"> <br/><br/>
      <button>Create Chat!</button>
    </form>
  </body>
</html>