<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is home page 3 * 5 = </h1>
    <h3> <%= 3 * 5 %> </h3>
    <h4> <%= "Nikunj Mehta".toUpperCase() %> </h4>
    <h5> <%= ["Hello", "Bonjour", "Namaste"][2]  %> </h5>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus dolores soluta quibusdam aperiam earum! Odio temporibus iure rerum architecto nisi inventore. Rerum officiis consequuntur, doloremque porro nemo omnis dicta eius?
    </p>
    <button>Click me!</button>

    <%- include("includes/footer.ejs") %>
  </body>
</html>