<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h2>The total number of users are: <%= count %></h2>
    <form method="get" action="/user/new">
      <button>Join us today!</button>
    </form>
  </body>
</html>