<!DOCTYPE html>
<html>
  <head>
    <title>Edit Username</title>
  </head>
  <body>
    <h2>Please give the following details.</h2>
    <form method="post" action="/user">
      <input name="username" type="text" placeholder="Enter username"  /> <br />
      <input name="email" type="email" placeholder="Enter email" /> <br />
      <input name="password" type="password" placeholder="enter password" /> <br />
      <button>Submit</button>
    </form>
  </body>
</html>