<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Posts</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Add a new post here</h1>
    <form method="post" action="/posts">
      <input placeholder="enter username" type="text" name="username"> <br/><br/>
      <textarea placeholder="write your post" name="content"></textarea><br/>
      <button>Submit Post</button>
    </form>
  </body>
</html>